<form class="password-form" [formGroup]="form">
    <div class="form-content">
      <label class="password-name" for="password">Password:</label>
      <input id="password" type="password" formControlName="password">
      <div class="circle-container">
        <div class="circle" [style]="{'background-color': circle1}" ></div>
        <div class="circle" [style]="{'background-color': circle2}"></div>
        <div class="circle" [style]="{'background-color': circle3}"></div>
      </div>
    </div>
    <button type="submit"></button>
  </form>