.password-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  background-color:wheat;
};
.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 30rem;
  height: 30rem;
  background-color: darkseagreen;
  border-radius: 20%;
};
#password  {
  background-color: #e1e4e0;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  width: 15rem;
  height: 3rem;
    &:focus {
    outline-color: darkseagreen;
    }
};
.password-name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.circle-container {
  display: flex;
  flex-direction:row;
  gap: 0.4rem;
  margin-right: 11rem;
}
.circle {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}
.gray {
  background-color: gray;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}



