<form class="password-form" [formGroup]="form">
    <div class="form-content">
      <label class="password-name" for="password">Password:</label>
      <input id="password" type="password" formControlName="password" (input)="updateStatus()" >
      <div class="circle-container" >
        <div class="circle" [ngClass]="
          {'gray': !form.get('password')!.value,
            'red': 
            form.get('password')!.value.length < 8 && form.get('password')!.value.length > 0 || 
            form.get('password')!.value.length >= 8 && passwordStatus === 'easy',
            'yellow':
            form.get('password')!.value.length >= 8 && passwordStatus === 'medium',
            'green':
            form.get('password')!.value.length >= 8 && passwordStatus === 'strong'
          }">
          </div>
        <div class="circle" [ngClass]="
        {
          'gray': !form.get('password')!.value || passwordStatus === 'easy',
          'red': form.get('password')!.value.length < 8 && form.get('password')!.value.length > 0,
          'yellow':
            form.get('password')!.value.length >= 8 && passwordStatus === 'medium',
            'green':
            form.get('password')!.value.length >= 8 && passwordStatus === 'strong'
          }">
          </div>
        <div class="circle" [ngClass]="
        {'gray': !form.get('password')!.value || passwordStatus === 'easy' || passwordStatus === 'medium',
          'red': form.get('password')!.value.length < 8 && form.get('password')!.value.length > 0,
          'green':
            form.get('password')!.value.length >= 8 && passwordStatus === 'strong'
        }">
        </div>
      </div>
    </div>
  </form>